<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Score List</title>
</head>
<body>
<h1>List of Score:</h1>
<table>
    <tr>
        <th>Course Name</th>
        <th>Credit</th>
        <th>Score</th>
    </tr>
    <!-- Sử dụng Thymeleaf để lặp qua danh sách các đối tượng Person -->
    <tr th:each="score : ${score}">
        <td th:text="${score.courseName}"></td>
        <td th:text="${score.credit}"></td>
        <td th:text="${score.score}"></td>

    </tr>
</table>
</body>
</html>

